<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        table tr td {
            word-break: break-all;
        }
        .exceeds {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 267px;
            white-space: nowrap;
        }
        table thead tr th{visibility:hidden;}
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top:2em">
        <div class="col-md-12">

            <div class="form-group">
                <table class="table table-hover table-striped" id="importTbl">
                    <thead>
                    <tr>
                        <th class="col-md-3"></th>
                        <th class="col-md-3"></th>
                        <th class="col-md-3"></th>
                        <th class="col-md-3"></th>
                    </tr>
                    </thead>
                    <!--TABLE_CONTENTS-->
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>